


<div class="row" >
  <div class="col-2"></div>
  <div class="col-12 col-sm-4">
     <app-doughnut
                  [doughnutChartLabels]="doughnutChartLabels"
                  [doughnutChartData]="doughnutChartData"
                  ></app-doughnut>
  </div>
  <div class="col-12 col-sm-4">
    <app-doughnut
                 [doughnutChartLabels]="doughnutChartLabels"
                 [doughnutChartData]="doughnutChartData"
                 ></app-doughnut>
 </div>
 <div class="col-2"></div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-12 col-sm-4">
     <app-doughnut
                  [doughnutChartLabels]="doughnutChartLabels"
                  [doughnutChartData]="doughnutChartData"
                  ></app-doughnut>
  </div>
  <div class="col-12 col-sm-4">
    <app-doughnut
                 [doughnutChartLabels]="doughnutChartLabels"
                 [doughnutChartData]="doughnutChartData"
                 ></app-doughnut>
 </div>
 <div class="col-2"></div>
</div>

