


<div class="row" >
  <div class="col-2"></div>
  <div class="col-12 col-sm-4">
     <app-doughnut
                  title="Ventas"
                  [labels]="data1"
                  [data]="inData1"
                  [colors]="colors2"
                  ></app-doughnut>
  </div>
  <div class="col-12 col-sm-4">
    <app-doughnut
                  title="Compras"
                 [labels]="data1"
                 [data]="inData2"
                 ></app-doughnut>
 </div>
 <div class="col-2"></div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-12 col-sm-4">
     <app-doughnut
                  title="Ingresos"
                  [labels]="data2"
                  [data]="inData1"
                  ></app-doughnut>
  </div>
  <div class="col-12 col-sm-4">
    <app-doughnut
                  title="Altas"
                 [labels]="data3"
                 [data]="inData3"
                 [colors]="colors3"
                 ></app-doughnut>
 </div>
 <div class="col-2"></div>
</div>

